# Frontend não representa o foco tecnológico do projeto
apps/web/** linguist-vendored

# Shell não entra nas estatísticas de linguagens
*.sh linguist-detectable=false

# Arquivos gerados
**/dist/** linguist-generated
**/.astro/** linguist-generated