# Frontend
*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.js linguist-detectable=false
*.jsx linguist-detectable=false
*.mjs linguist-detectable=false
*.cjs linguist-detectable=false
*.astro linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.sass linguist-detectable=false
*.html linguist-detectable=false
*.vue linguist-detectable=false
*.svelte linguist-detectable=false

# Templates / Smarty
*.tpl linguist-detectable=false
*.smarty linguist-detectable=false

# Elixir
*.ex linguist-detectable=false
*.exs linguist-detectable=false
*.heex linguist-detectable=false
*.eex linguist-detectable=false

# Shell
*.sh linguist-detectable=false
*.bash linguist-detectable=false
*.zsh linguist-detectable=false
*.fish linguist-detectable=false

# Docker / configuração
Dockerfile* linguist-detectable=false
*.dockerfile linguist-detectable=false

*.go linguist-detectable=true
*.sql linguist-detectable=true